facebookQuery/DataBase/bin/
FacebookBot/FacebookBot/obj/
facebookQuery/packages/
facebookQuery/WebApp/bin/
facebookQuery/WebApp/obj/
facebookQuery/facebookQuery/bin/
facebookQuery/Jobs/bin/
facebookQuery/Jobs/obj/
facebookQuery/Engines/obj/
facebookQuery/DataBase/obj/
facebookQuery/Services/bin/
facebookQuery/Services/obj/
facebookQuery/facebookQuery/obj
facebookQuery/Engines/bin/
