@{
    ViewBag.Title = "Home Page";
}

@model List<Services.ViewModels.HomeModels.AccountViewModel>

<div class="jumbotron">
</div>

<div class="row">
    <div class="list-group">
        @foreach (var account in @Model)
        {
            @Html.ActionLink(@account.Login, "Index", "Account", new {AccountId = account.UserId}, new {@class = "list-group-item active"})
        }
    </div>
</div>

<div>
    @Html.ActionLink("Options", "Index", "Options", null, new { @class = "btn btn-primary" })
</div>