
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.left-add-message-panel {
    width: 40% !important;
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
}

.right-add-message-panel {
    width: 40% !important;
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
}

.dark-blue-label {
    color: darkblue;
    padding-top: 25px;
    padding-bottom: 10px;
}

.remove-message, .set-defaul-message {
    float: right;
}

.remove-message a {
    color: red!important;
}

.remove-message a:hover {
    color: darkred!important;
}

.right-text {
    text-align: right
}

.message-emergency-warning {
    color: red!important;
    padding-top: 15px;
}

.message-list-tittle {
    display: inline-block;
}

.green-question {
    color: green;
}

.warning-message {
    color: red!important;
}