
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.left-add-message-panel {
    width: 40% !important;
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
}

.right-add-message-panel {
    width: 40% !important;
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
}

.dark-blue-label {
    color: darkblue;
    padding-top: 25px;
    padding-bottom: 10px;
}

.remove-message, .set-defaul-message {
    float: right;
}

.remove-message a {
    color: red!important;
}

.remove-message a:hover {
    color: darkred!important;
}

.right-text {
    text-align: right
}

.message-emergency-warning {
    color: red!important;
    padding-top: 15px;
}

.message-list-tittle {
    display: inline-block;
}

.green-question {
    color: green;
}

.warning-message {
    color: red!important;
}

.inline-half {
    display: inline;
    min-width: 50%;
}

.inline-half-text-left {
    display: inline-block;
    min-width: 50%;
    text-align: left
}

.inline-half-text-right {
    display: inline-block;
    min-width: 45%;
    text-align: right
}

.submit-section {
    display: inline-block;
    padding-left: 15px;
}

.input-group-section {
    display: inline-block
}

.inline-actions {
    display: inline-block;
    padding-left: 10px;
}

.rectangle-button {
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center!important;
    vertical-align: middle!important;
    font-size: 30px;
    white-space: normal;
    padding-top: 20px;
}

.crossed {
    text-decoration: overline;
}