@{
    ViewBag.Title = "Index";
}

@model Services.ViewModels.FriendsModels.FriendListViewModel

<div class="panel panel-default">
    <div class="page-header">
        <h3 class="alert-info alert">Friends</h3>
    </div>
    <div class="panel-footer">
        @foreach (var friend in @Model.Friends)
        {
            <div class="@(friend.Deleted ? "alert alert-danger" : friend.MessagesEnded ? "alert alert-success" : "alert alert-info")">
                <div class="inline-half-text-left">
                    <div class="message-list-tittle">
                        <div class="">@friend.Name</div>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "FriendMessages", new { accountId = Model.AccountId, friendId = friend.Id })"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

